---
import Layout from "../layouts/Layout.astro"
---

<Layout  title="Search | page">
  <a href="/">Main page</a>
  <h1>search page <span>special word</span></h1>
</Layout>
<style lang="scss">
  h1{
    color: tomato;

    span{
      color: purple;
    }
  }
</style>
